{% extends 'base.html' %}
{%  load static  %}

{% block content %}

<h2> Mi Template DJango -- {{mititulito}}</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium culpa architecto similique nulla obcaecati deserunt quibusdam. Aspernatur, eaque eum blanditiis ratione commodi ipsam a distinctio ex praesentium quae quod delectus vero sequi, consequatur ut officiis quam tenetur architecto veniam ullam eligendi assumenda. Cupiditate, minus modi.
</p>

<!--  Los archivos estáticos son por ejemplos: CSS, javascripts, imágenes, audio, etc.  Archivos que NO son procesados por el servidor de DJango y que No cambian mucho en circunstancias normales  -->
<img src="static/Thanks.png" alt="" width="300">

{% endblock %}